<% if maintenances.any? %>
  <section class="upcoming">
    <h2 class="upcoming__title">Scheduled maintenance</h2>
    <% maintenances.each do |maintenance| %>
      <article class="upcoming__item">
        <div class="event__head">
          <span class="event__title"><%= maintenance.title %></span>
          <span class="upcoming__when"><%= maintenance_window_phrase(maintenance) %></span>
        </div>

        <% if maintenance.services.any? %>
          <p class="event__services"><%= maintenance.services.map(&:name).to_sentence %></p>
        <% end %>

        <% if update = maintenance.updates.first %>
          <p class="event__update"><%= update.body %></p>
        <% end %>
      </article>
    <% end %>
  </section>
<% end %>
