<% @page_title = "New #{@incident.maintenance? ? "maintenance" : "incident"}" %>

<div class="incident-editor">
  <%= link_to "← All incidents", incidents_path, class: "incident-editor__back" %>
  <%= render "form" %>
</div>
