<div class="dashboard probe-status-dashboard">
  <header class="dashboard-header">
    <h1>Probe Status</h1>

    <div class="dashboard-filters">
      <%= form_with url: dashboards_probe_status_path, method: :get, data: { controller: "form", turbo_frame: :probe_status_matrix } do %>
        <%= collection_select nil, :probe_type, Upright.probe_type_registry, :type, :name,
              { selected: @probe_type },
              { class: "input--select", data: { action: "change->form#submit" } } %>
      <% end %>
    </div>
  </header>

  <turbo-frame id="probe_status_matrix" data-controller="auto-refresh" data-auto-refresh-interval-value="60000">
    <%= render "matrix", probes: @probes, sites: @sites %>
  </turbo-frame>
</div>
