<div class="dashboard uptime-dashboard">
  <header class="dashboard-header">
    <h1>Uptime Dashboard</h1>

    <div class="dashboard-filters">
      <%= form_with url: dashboards_uptime_path, method: :get, data: { controller: "form", turbo_frame: :uptime_bars } do %>
        <%= collection_select nil, :probe_type, Upright.probe_types, :type, :name,
              { selected: @probe_type },
              { class: "input--select", data: { action: "change->form#submit" } } %>
      <% end %>
    </div>
  </header>

  <%= turbo_frame_tag :uptime_bars do %>
    <%= render "upright/dashboards/uptime_bars", probes: @probes %>
  <% end %>
</div>
